
.black-tile {
    background-color: #3c3836;
    
}

.white-tile {
    background-color: #ffffff;

}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

img {
    height: 50px;
    width: 50px;
}

.chessPiece {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}