
.black-tile {
    background-color: #3c3836;
    
}

.white-tile {
    background-color: #ffffff;

}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

img {
    height: 50px;
    width: 50px;
}