#root {
    height: 98vh;
    width: 98vw;
    overflow: hidden;
}

@font-face {
    font-family: pixeloid;
    src: url('./fonts/pixeloid.ttf');
}

html{
    background-color: #252423;
    font-family: pixeloid;
}
 
body {
    height: 98vh;
    width: 98vw;
}

.boardGroup {
    transform: translate(200px, 0px);
    display: inline-block;
}